@font-face {
  font-family: 'MuseoModerno';
  font-weight: 400;
  font-style: normal;
  src: local('MuseoModerno'), url('MuseoModerno-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoModerno Medium';
  font-weight: 500;
  font-style: normal;
  src: local('MuseoModerno'), url('MuseoModerno-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoModerno Bold';
  font-weight: 700;
  font-style: normal;
  src: local('MuseoModerno'), url('MuseoModerno-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoModerno ExtraBold';
  font-weight: 700;
  font-style: normal;
  src: local('MuseoModerno'), url('MuseoModerno-ExtraBold.otf') format('opentype');
}
